@import '_variables.scss';
@import '_header.scss';

html {
	scroll-behavior: smooth;
	font-family: 'Roboto', sans-serif;
}

body {
	margin: 0;
}

.container {
	max-width: 960px;
	width: 100%;
	position: relative;
	margin: 0 auto;
	padding: 10px;
}

.skip {
	position: absolute;
	top: -20%;
	transition: top ease 0.25s;
	color: $lightText;
	&:visited {
		color: $lightText;
	}
	&:focus{
		top: 0;
		border: 2px dotted $lightText;
		text-decoration: none;
	}
}